doctype html
html(ng-app="charts")
head
  title Chart Examples
  
  script(src="assets/libs/angular.js")
  script(src="assets/libs/angular-route.js")
  script(src="assets/libs/jquery.js")
  script(src="assets/libs/chartist.js")
  script(src="assets/js/app.module.js")
  script(src="assets/js/app.routes.js")
  script(src="assets/js/app.controllers.js")
  
  link(href="assets/libs/chartist.min.css", rel="stylesheet")
  link(href="assets/css/style.css", rel="stylesheet")
