ul.navigation
  li
    a(href="#/top-apps") Top Apps
  li
    a(href="#/most-minutes") Most Minutes
  li
    a(href="#/most-stars") Most Stars
  li
    a(href="#/weekly-breakdown") Weekly Breakdown
  li
    a(href="#/your-class") Your Class
