h2 {{ heading }}

.container.weekly-breakdown
  .row
    .six.columns
      h3.green Last Week
      h4 12.5 Hours
    .six.columns
      h3.blue This Week
      h4 19 Hours
.container.weekly-breakdown
  .row
    .twelve.columns.chartist-container
      .ct-chart.ct-minor-seventh
