h2 {{ heading }}

.container.your-class
  .row
    .six.columns
      h3.pink Your Class
      h4 380 Hours
    .six.columns
      h3.purple Average
      h4 250 Hours
.container.your-class
  .row
    .twelve.columns
      .ct-your-class.ct-minor-seventh
