
<h2>{{ heading }}</h2>
<div class="container weekly-breakdown">
  <div class="row">
    <div class="six columns">
      <h3 class="green">Last Week</h3>
      <h4>12.5 Hours</h4>
    </div>
    <div class="six columns">
      <h3 class="blue">This Week</h3>
      <h4>19 Hours</h4>
    </div>
  </div>
</div>
<div class="container weekly-breakdown">
  <div class="row">
    <div class="twelve columns chartist-container">
      <div class="ct-chart ct-minor-seventh"></div>
    </div>
  </div>
</div>